<footer class="mt-8 py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm text-gray py-2 text-right">
      © {{ "now" | date: '%Y' }} KHOI | <a class="underline underline-offset-4" href="/feed.xml" target="_blank">RSS</a> | ⚡<a class="underline underline-offset-4" href="https://www.11ty.dev/" target="_blank">11ty</a> | <a class="underline underline-offset-4" href="https://github.com/KhoiUna/my-website" target="_blank">Source code</a>
    </p>
  </div>
</footer>