<nav class="pt-5">
  <ul class="flex py-2 border-b-2 mb-6">
    <li class="mr-6"><a href="/">Home</a></li>
    <li class="mr-6"><a href="/projects">Projects</a></li>
    <li class="mr-6">
      {%newtab_link 'https://www.dropbox.com/s/l50unbyzyyva7qc/Khoi_Tuan_Nguyen_Resume.pdf?dl=0' 'Resume'%}
    </li>
    <li class="mr-6">
      {%newtab_link 'https://blog.khoiuna.info' 'Blog'%}
    </li>
    <li class="mr-6">
      {%newtab_link 'https://jn.khoiuna.info' 'Journal'%}
    </li>
  </ul>
</nav>
