<nav class="pt-5">
  <ul class="flex py-2 border-b-2 mb-6">
    <li class="mr-6"><a href="/">Home</a></li>
    <li class="mr-6"><a href="/projects">Projects</a></li>
    <li class="mr-6">
      {%newtab_link 'https://blog.imkhoi.com' 'Blog'%}
    </li>
    <li class="mr-6"><a href="/investments">Investments</a></li>
  </ul>
</nav>
