---
layout: default
title: KHOI
---

<div class="py-3 flex flex-wrap items-center">
  <img src="/assets/ava.png" class="rounded-lg" width="150" height="150" />

    <p class='pt-5'>
        👋 Hi, I'm Khoi. I'm pursuing a Dual Degree: a Bachelor of Science in
        Information Technology and a Bachelor of Business Administration in Computer
        Information Systems at the University of North Alabama.
    </p>
    <p class='pt-5'>
        🚀 I've worked at 3 startups with tech stacks such as Python, NextJS, React,
        PostgreSQL, and TypeScript. Outside of work, I enjoy biking and traveling.
        Would love to connect!
    </p>
</div>
