---
layout: default
title: Investments | KHOI
---

<h3 class="mb-4 text-xl font-bold">Portfolio Treemap (based on market price)</h3>
<a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=1456722855&format=interactive"><img
  loading="lazy"
  class="w-full rounded-lg border"
  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=1456722855&format=image"
  alt="Portfolio Treemap"
/>
</a>

<h3 class="mt-8 mb-4 text-xl font-bold">Portfolio Diversity (based on market price)</h3>
<a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=285000194&format=interactive"><img
  loading="lazy"
  class="w-full rounded-lg border"
  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=285000194&format=image"
  alt="Portfolio Diversity"
/>
</a>

<h3 class="mt-8 mb-4 text-xl font-bold">Portfolio % Gain/Loss (based on cost basis)</h3>
<a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=239081210&format=interactive"><img
  loading="lazy"
  class="w-full rounded-lg border"
  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=239081210&format=image"
  alt="Portfolio % Gain/Loss"
/>
</a>