---
layout: default
title: Investments | KHOI
---

<div class="space-y-6">
  <h3 class="text-xl font-bold">Portfolio Treemap (based on market price)</h3>
  <img
    loading="lazy"
    class="w-full rounded-lg border"
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=1456722855&format=image"
    alt="Portfolio Treemap"
  />

  <h3 class="text-xl font-bold">Portfolio Diversity (based on market price)</h3>
  <img
    loading="lazy"
    class="w-full rounded-lg border"
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=285000194&format=image"
    alt="Portfolio Diversity"
  />

  <h3 class="text-xl font-bold">Portfolio % Gain/Loss (based on cost basis)</h3>
  <img
    loading="lazy"
    class="w-full rounded-lg border"
    src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRBhCII-WVSIKnmQsN9n2k8lkBepoD1T01S8_lnsSeFmDqrSCyTvsno_iDDS2yURHiPxXSAkWj8TFyZ/pubchart?oid=239081210&format=image"
    alt="Portfolio % Gain/Loss"
  />
</div>

