#parallax {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.329),
      rgba(0, 0, 255, 0)
    ),
    url("../images/sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Style header */
header {
  position: sticky;
  top: 0;
}

#menu {
  padding: 1.7rem;
  display: flex;
  justify-content: space-between;
}
#menu p {
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
}

#burger-menu {
  color: #fff;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Style hero-section */
#hero-section {
  text-align: center;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 500px) {
  #hero-section {
    min-height: 70vh;
  }
}

#hero-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 0.5rem;
}

#read-more {
  margin: 1rem;
  padding: 0.7rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#read-more span {
  font-size: 1.2rem;
  color: #fff;
}

/* Style introduction */
#introduction {
  text-align: center;
}
#introduction img {
  border-radius: 100%;
  margin: 0.7rem auto;
  width: 9rem;
}

#introduction-img-container {
  margin: auto;
  border-bottom: 3px solid #777777;
}

.flex-container {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

/* Style skills */
#parallax-skills {
  background-image: url("../images/coding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 30vh;
}

/* Style footer  */
footer {
  background-color: #0e3d66;
  color: #f6f6f6;
}

.footer-container {
  margin: 0.5rem 1rem 1.5rem 1rem;
}

.footer-title {
  font-size: 1.2rem;
  margin: auto auto 0.7rem auto;
  font-weight: bold;
}

.social-icons {
  font-size: 1.2rem;
  border-radius: 100%;
  border: 2px solid #f6f6f6;
  padding: 0.6rem;
  margin: 0 0.2rem;
}

#copyright {
  padding: 0 1rem 0.5rem 1rem;
}
